*{
    box-sizing: border-box;
}

.form{
    background-color: rgb(221, 230, 237);
    padding: 30px;
    overflow: hidden;
    
} 

.form input , select{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 12px;
    
}

.form input:focus{
    outline: 1px solid #04aa6d;
}

.form textarea{
    height: 200px;
    width: 100%;
    border-radius: 3px;
    padding: 12px;
    resize: vertical;
    outline: none;
    border: 1px solid #ccc;
}

.form textarea:focus{
    outline: 1px solid #04aa6d;
}

.form input[type="button"]{
    background-color: #04aa6d;
    color: white;
}

.form input[type="button"]:hover{
    background-color: #45a049;
}


